.container,
.form-container {
    display: flex;
    flex-direction: column;
}

.container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
}

label {
    text-align: left;
    padding: 0.25rem 0;
}

input {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

select {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button {
    border: none;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.register-error {
    margin-top: 10px;
    color: red;
    font-weight: bold;
}