#cardContainer{
    /* background-color: rgb(238, 217, 222); */
    width: 100%;
    min-height: 70vh;
    max-height: fit-content;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(25rem,1fr));
    padding: 3rem;
    gap: 1rem;
    grid-auto-rows: minmax(20rem, 26rem);
    justify-content: center;
}
.otherSkills {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    /* outline: 2px solid blueviolet; */
}
.otherSkills li {
    background-color: darkturquoise;
    width: max-content;
    padding: .3rem;
    font-size: 1rem;
    border-radius: 10px;
}
.card{
    background-color: white;
    border: 2px solid darkturquoise;
    border-radius: 10px;
    text-align: center;
}
#cardContainer figure{
        height: 35%;
        text-align: center;
        padding-top: 1rem;
}
#cardContainer figure img{
    height: 100%; 
    border-radius: 10px;
}
.card{
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.personalDetails {
    height: 55%;
    font-size: 1.1rem;
}
#employerJobsPage #cardContainer {
    /* grid-template-columns: repeat(auto-fill,minmax(25rem,1fr)); */
    grid-auto-rows: minmax(20rem,1fr);
}
.jobDetails {
    height: 100%;
    /* background-color: aquamarine; */
}
#employerJobsPage{
    max-width: 100vw;
    overflow-x: hidden;
}
.jobDetails h1{
    font-size: 1.3rem;
    margin: .5rem;
}
.jobDetails h2{
    font-size:1.1rem
}
.jobDetails p{
    text-align: left;
    padding: 0 .5rem;
}

#jobsCard .apply{
    width: 5rem;
    height: 2rem;
    padding: 0;
    font-size: 1rem;
}
.card.applicantCard input{
    padding: 0;
    /* outline: 1px solid blue; */
    padding: .5rem;
    display: block;
    width: 70%;
    margin: auto;
}
.card.applicantCard{
    gap: .5rem;
}
.card.applicantCard>.personalDetails{
    display: flex;
    flex-direction: column;
}
.card.applicantCard button {
    height: 2rem;
    width: 30%;
    margin: auto;
    border: none;
}